#CurrencyMenu {
	height: 100%;
}

#CurrencyMenu > #CurrencySelector {
	height: 100%;
	padding: 0 8px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	border: none;
	background-color: transparent;

	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	transition-duration: 0.4s;
}

#CurrencyMenu:hover > #CurrencySelector {
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
}

#CurrencyMenu > #CurrencySelector > img {
	margin-left: 8px;
	object-fit: cover;
}

#CurrencyMenu > #CurrencyList {
	max-height: 250px;

	display: flex;
	flex-direction: column;
	position: absolute;

	list-style-type: none;
	background-color: white;
	filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
	overflow-y: auto;
}

#CurrencyMenu > #CurrencyList > li {
	padding: 10px 20px;

	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	transition-duration: 0.4s;
}

#CurrencyMenu > #CurrencyList > li:hover {
	cursor: pointer;
	background-color: #ddd;
}
